.profile{
  width: 300px;
  text-align: center;
  padding: 1rem;
  background-color: #ebebeb;
  box-shadow: 12px 9px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 12px 9px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 12px 9px 5px 0px rgba(0,0,0,0.75);
  border-radius: 20px;
}
.avatar{
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
}

.new{
  position: absolute;
  left: 90%;
  top: 15%;
  background-color: beige;
  font-weight: 600;
}

.profile__img{
  width: 200px;
  height: 200px;
  border-radius: 100%;

}