.nature{
  width: 300px;
  text-align: center;
  padding: 1rem;
  background-color: #ebebeb;
  box-shadow: 12px 9px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 12px 9px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 12px 9px 5px 0px rgba(0,0,0,0.75);
  border-radius: 20px;
}

.nature__img{
  width: 200px;
  height: 200px;
  border-radius: 100%;

}